.root {
    display: flex;
    flex-direction: column;

    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;

    font-size: 24px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 6px;
    border-bottom: 1px solid grey;
}

.id {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: lightyellow;
    color: black;
}

.body {
    padding-top: 6px;
}